.styleBmi {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.inputBmi {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
}
.button {
  padding: 10px 20px;
  background-color: #00f7ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.bmi-pic {
  width: 70vh;
}
.bmi-h2 {
  padding-top: 10px;
  color: gold;
  text-shadow: 1px 1px #df3e3e;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.bmi-para {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}
.bmi-table {
  width: 80%;
  max-width: 600px;
  margin: 40px auto;
  border-collapse: collapse;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.bmi-table th,
.bmi-table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.bmi-table th {
  background-color: #2aff05d9;
  color: white;
  font-weight: 600;
}

.bmi-table tr:last-child td {
  border-bottom: none;
}

.bmi-table tr:hover {
  background-color: #f1f1f1;
}
