.backimg {
  background-image: url("./Asset/back-img.jpg");
  background-position: cover;
  height: 100%;
}
.Para-1 {
  text-align: justify;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
}
.new-color {
  background-color: rgba(225, 247, 23, 0.861);
  border-radius: 10px;
}
.img-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.equipbutton {
  background-color: red;
}
.eq-h2 {
  font-family: "Times New Roman", Times, serif;
}
